<h1><%= @campaign.name.titleize %></h1>
<p><%= @campaign.description %></p>
<p>Goal: <%= number_to_currency(@campaign.goal) %></p>
<p>End Date: <%= formatted_date_time(@campaign.end_date) %></p>

<% if @campaign.image.present? %>
<%= image_tag @campaign.image.url(:medium) %>
<% end %>

<% if @campaign.longitude && @campaign.latitude %>

<% end %>


<%= link_to "Edit" , edit_campaign_path(@campaign), class: "btn btn-info"%>
<%= link_to "Destroy", @campaign, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>

<% if @campaign.draft? %>
<%= link_to "Publish", campaign_publishings_path(@campaign), method: :post, class: "btn btn-success-outline" %>
<% end %>
<div class="label label-default">
  <%= @campaign.aasm_state %>
</div>

<h2>Rewards</h2>
<% @campaign.rewards.each do |r| %>
  <div class="well">
    <h3><%= r.title %></h3>
     <p><%= number_to_currency(r.amount) %></p>
  </div>
<% end %>
